.btn {
    -fx-fill: #32acbf;
    -fx-padding: 8px 16px;
    -fx-border-color: #32acbf;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

.btn:hover {
    -fx-background-color: #32acbf;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.input {
    -fx-fill: #32acbf;
    -fx-padding: 8px 16px;
    -fx-border-color: #32acbf;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

.bg {
    -fx-background-color: #fff;
}

.bg-bai1{
    -fx-background-color: #32acbf;
}

.default-color0.chart-bar {
    -fx-bar-fill: #32acbf;
}

.lblResult{
    -fx-alignment: center;
}

